/* main styling */
body{
 padding: 0;
 margin: 0;
}
#root {
  width: 100vw;
  margin:0 ;
  padding: 0;
  text-align: center;
}
.main-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.top-container{
  display: flex;
  
  width: 100%;
  
}
.bottom-container{
  display: flex;
  justify-content: space-around;

  width: 100%;
}
/* form component */
.form-container {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 15px;
}
select, input{
  width: 80%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #f76b00bd;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #8f7561bd;
}
/* list component */
.transaction-list{
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
ul{
  list-style-type: none;
}
.list-item{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.filter{
  display: flex;
  justify-content: center;
  border: 1px solid pink
}
.filter-form-group{
  border: 1px solid grey;
  width: 100px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.expenses {
  background-color: rgba(238, 105, 105, 0.506); /* Example: Red text for expenses */
}
.income {
  background-color: rgba(93, 179, 93, 0.59);
}

/* budget component */
.info-container{
  width: 100%;
  border: 2px solid grey;
}
.actual-container, .budget-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.total-container{
  border: 1px solid grey;
  border-radius: 10px;
  width: 300px;
}
.positive{
  background-color: green;
}
.negative{
  background-color: rgb(145, 28, 42);
}
/* saving tips component */
.saving-tips{
  width: 300px;
}
/* chart component */
.chart{
  border: 1px solid grey;
}
/* input[type="checkbox"] {
  width: 3em;
  height: 3rem;
  accent-color: green;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.1rem;
  border: 0.25rem solid green;
  border-radius: 0.5rem;
}
input[type="checkbox"]::before {
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  transform: scale(0);
  background-color: green;
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
input[type="checkbox"]:hover {
  color: black;
} */
