/* main styling */
body{
 padding: 0;
 margin: 0;
}
#root {
  width: 100vw;
  margin:0 ;
  padding: 0;
  text-align: center;
}
.main-container{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.top-container{
  display: flex;
  
  width: 100%;
  
}
.bottom-container{
  display: flex;
  justify-content: space-around;

  width: 100%;
}

/* list component */
.transaction-list{
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
ul{
  list-style-type: none;
}
.list-item{
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.filter{
  display: flex;
  justify-content: center;
  border: 1px solid pink
}
.filter-form-group{
  border: 1px solid grey;
  width: 100px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

