@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;

body{
 padding: 0;
 margin: 0;
}
#root {
  width: 100vw;
  margin:0 ;
  padding: 0;
}
.icon {
  font-size: 1.5em;
}
.info-container {
  width: 100%;
  border: 1px solid grey;
}
.actual-container,
.budget-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.conclusion-container{
    border: 1px solid grey;
    border-radius: 10px;
    width: 300px;
    margin: auto;
  }
  .positive, .income{
    background-color: rgb(134 239 172);;
  }
  .negative, .expenses{
    background-color: rgb(253 164 175);;
  }
  .top-container{
  display: flex;
  
  width: 100%;
  
}
.bottom-container{
  display: flex;
  justify-content: space-around;

  width: 100%;
}
.transaction-wrapper{
  width: 20px;
  height: 20px;
  border-radius: 30px;
}